body {
    background: url(https://images.unsplash.com/photo-1548003411-73cb4c666bb9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&auto=format&fit=crop&w=600&q=60);
    background-size: 100%;
    color: rgb(70, 133, 133);
    position: absolute;
    top: 250px;
  }
  
  header {
    position: fixed;
    top: 0;
    right: 3px;
    left: 0;
    text-align: center;
  }

  .navbar {
    background-color: rgba(238, 154, 59, 0.801);
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    padding: 10px 20px;
  }

  #menu-toggle {
    display: none;
  }

  .menu-button-container {
    display: flex;
    flex-direction: column;

    cursor: pointer;
  }
  
  .menu-button {
    position: absolute;
    right: 30px;
    background-color: black;
    border-radius: 2px;
    width: 30px;
    height: 6px;
  }

  .menu-button::before {
    content: '';
    position: absolute;
    right: -10px;
    background-color: black;
    border-radius: 2px;
    width: 30px;
    height: 6px;
    margin: 10px;
  }

  .menu-button::after {
    content: '';
    position: absolute;
    right: 10px;
    background-color: black;
    border-radius: 2px;
    width: 30px;
    height: 6px;
    margin: -10px;
  }

  #menu-item1 {
    position: absolute;
    top: 247px;
    right: 0;
    font-size: 0;
    height: 0px;
    width: 0px;
  }

  #menu-toggle:checked ~ #menu-item1 {
    height: 30px;
    font-size: 20px;
    padding: 10px;
    width: 50%;
    border: 5px solid rgba(241, 143, 31, 0.801);
    border-radius: 2px;
    background-color: rgba(238, 154, 59, 0.801);
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  a, a:visited {
    text-decoration: none;
    color: black;
  }

  main {
    
  }
  
  h1 {
    color: rgba(238, 154, 59, 0.801);
    font-family: 'Island Moments', cursive;
    font-size: 70px;
  }
  
  h2 {
    color: rgba(238, 154, 59, 0.918);
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
  }
  
  #intro {
    width: 35%;
    font-size: 12px;
    margin-left: 30px;
    font-family: 'Nunito', sans-serif;
  }
  
  footer {
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    color: rgb(238, 154, 59);
    font-size: 40px;
  }
  
  #relative {
    overflow: hidden;
    position: relative;
    height: 100px;
  }
  
  #wee {
    position: absolute;
    bottom: 40px;
    right: -300px;
    font-size: 30px;
    animation-name: wee-move;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.5,0.5,0.5,0.5);
  }
  
  @keyframes wee-move {
    100% {
      right: 100%;
    }
  }
